 body{

 	background-image: url(cole.jpg);
 	background-size: 100%;

 }
 .atr{
 	 position: absolute;
	top: 200px;
	left: 400px;
	height: 40px;
	width: 80px;
	background: #707174
}


 .ap{
 	 position: absolute;
	top: 200px;
	left: 400px;
	height: 40px;
	width: 80px;
	background: #707174
}
.ap:active{

	background-color: white;
}

 .J{
 	position: absolute;
		top: 150px;
		width: 270px;
		height: 90px;
		left: 490px;
		font-family: cursive;
		background-color:#707586 ;
	 border-left: black 10px solid;
 }

 .J:hover{
       background-color: white ;

 }

 .o{
 	position: absolute;
		top: 270px;
		width: 270px;
		height: 90px;
		left: 490px;
		font-family: cursive;
		background-color:#707586 ;
	 border-left: black 10px solid;
 }

 .o:hover{
       background-color: white ;
}

 .r{
    position: absolute;
	top: 200px;
	left: 310px;
	height: 40px;
	width: 80px;
	background: #707174 ;
   }

   .r:hover{
   	background-color: white;

   }
 .y{
 	position: absolute;
 	left: 100px;
 	top: 23px;
 	border-color: #898C95  black;
    border-width: 10px;
    border-style: solid;
 }

.n{
	position: absolute;
	left: 900px;
    top: 20px;
}

 .f{
		position: absolute;
		top: 30px;
		width: 300px;
		height: 100px;
		left: 35%;
		font-family: cursive;
		background-color:#707586 ;
        border-left: black 10px solid;
	}

	.f:hover{
		background-color: white ;
	}

	.p1{
	position: absolute;
	top: 400px;
	left: 420px;
	height: 40px;
	width: 90px;
	background: #707174 ;
	font-family: cursive;
	font-size: 15px;
	border: white 5px inset;
}

.p2{
	position: absolute;
	top: 400px;
	left: 540px;
	height: 40px;
	width: 90px;
	background:#707174;
	font-family: cursive;
	font-size: 15px;
	border: white 5px inset;
}
.par{
	position: absolute;
	top: 400px;
	left: 1000px;
	height: 40px;
	width: 90px;
	background:#707174;
	font-family: cursive;
	font-size: 15px;
	border: white 5px inset;
	}
.p3{
	position: absolute;
	top: 400px;
	left: 660px;
	height: 40px;
	width: 90px;
	background:#707174;
	font-family: cursive;
	font-size: 15px;
	border: white 5px inset;
}.p4{
	position: absolute;
	top: 400px;
	left: 780px;
	height: 40px;
	width: 90px;
	background: #707174;
	font-family: cursive;
	font-size: 15px;
	border: white 5px inset;
}

.p1:hover{
       background-color: cyan;
       }
 
 .p1:active{
 	background-color: white;
 }

.p2:hover{

	background-color: #3C4B85;
}

.p2:active{
	background-color: white;
}
.p3:hover{

	background-color: lightblue;
}
.p3:active{

	background-color: white;
}
.p4:hover{

	background-color: #03314B;
}

.p4:active{
	background-color: white;
}

.ex{
	position: absolute;
	font-family: arial;
	top: 450px;
	background-color: white;
}

.su{
	position: absolute;
	font-family: arial;
	top: 700px;
}

.suma{
	position: absolute;
 	left: 100px;
 	top: 200px;
 	
}
.pr{
	position: absolute;
	font-family: arial;
	top: 1140px;
	background-color: white;
 	
}
.prom{
	position: absolute;
 	left: 100px;
 	top: 200px;
 	
}

.in{
	position: absolute;
	font-family: arial;
	top: 1610px;
 	
}
.indice{
	position: absolute;
 	left: 100px;
 	top: 200px;
 	
}

.con{
	position: absolute;
	font-family: arial;
	top: 2100px;
	background-color: white;
 	
}
.contar{
	position: absolute;
 	left: 100px;
 	top: 200px;
 	
}

.bus{
	position: absolute;
	font-family: arial;
	top: 2650px;
	background-color: white;
 	
}
.buscar{
	position: absolute;
 	left: 100px;
 	top: 200px;
 	
}
.sm{
    position: absolute;
	top: 200px;
	left: 420px;
	height: 40px;
	width: 80px;
	background: #707174 ;
   }
   .sm:active{
   	background-color: white;
   }
   .pm{
    position: absolute;
	top: 200px;
	left: 510px;
	height: 40px;
	width: 80px;
	background: #707174 ;
    }
    .pm:active{

           background-color: white;
    }

   .ic{
    position: absolute;
	top: 200px;
	left: 610px;
	height: 40px;
	width: 80px;
	background: #707174 ;
   }

   .ic:active{
   	background-color: white;
   }
   .ct{
    position: absolute;
	top: 200px;
	left: 700px;
	height: 40px;
	width: 80px;
	background: #707174 ;
   }
   .ct:active{
   	background-color: white;
   }
   .bc{
    position: absolute;
	top: 200px;
	left: 790px;
	height: 40px;
	width: 80px;
	background: #707174 ;
   }
   .bc:hover{
         background-color: white;
   }



